button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #D3D3D3;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    font-size: 1em;
    background-color: transparent;
}

button:hover {
    color: #000000;
    background-color: #D3D3D3;
}
